@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


@if (SignInManager.IsSignedIn(User))
{

    Usuario usuarioLogado = await UserManager.GetUserAsync(User);

    <div class="btn-group" role="group" aria-label="Grupo de botões com dropdown aninhado">

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <text>@usuarioLogado.Nome</text>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
    </ul>
}