@model CursoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center text-secondary">
    <h1>Próximos Cursos</h1>
    <p>Veja aqui nossos proximos cursos agendados, se preferir acesso nosso <b>Calendário completo</b>.</p>
</div>
<div class="row">

    @if (Model.CursosComPaginacao.TotalItemCount > 0)
    {
        @await Html.PartialAsync("_CardPaginacaoCursoPartial.cshtml", Model.CursosComPaginacao);
    }
</div>