@model TDSTecnologia.Site.Core.Entities.Curso

@{
    ViewData["Title"] = "Create";
}

<div>
    <h1 class="text-center">Cadastro de Curso</h1>
</div>
<hr />
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <form asp-action="Novo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <textarea asp-for="Descricao" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeAula" class="control-label">Nº de Aulas</label>
                <input asp-for="QuantidadeAula" class="form-control" />
                <span asp-validation-for="QuantidadeAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Data Início</label>
                <input asp-for="DataInicio" class="form-control" type="date" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <select asp-for="Turno" class="form-control">
                    @foreach (DomTurno turno in Enum.GetValues(typeof(DomTurno)))
                    {
                        <option value="@turno.ToString()">@turno.Descricao()</option>
                    }
                </select>
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <img src="#" name="arquivo" id="arquivo" height="300" width="300" class="border border-secondary rounded" style="display: none;" />
            </div>

            <div class="form-group">
                <label for="arquivo" class="control-label"></label>
                <input type="file" class="btn btn-primary form-control" name="arquivo" id="arquivo" onchange="CarregarImagem(this)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Voltar</a>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function CarregarImagem(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#arquivo").show();
                    $("#arquivo").attr('src', e.target.result).width(300).height(300);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}